<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="site/assets/images/favicon.ico" type="image/x-icon">
    <title>ezr² Offline</title>
    <style>
      html {
        font-family: Consolas;
        background-color: #191919;
        color: White;
      }

      a:link {
        color: #0000ff;
      }
      
      a:visited {
        color: #0000ff;
      }
      
      a:hover {
        color: #0000e6;
      }
      
      a:active {
        color: #0000ff;
      }
    </style>
  </head>

  <body>

    <div class="container">

        <header class="navbar">
          <section class="navbar-section">
            <h1>ezr² Offline</h1>
          </section>
        </header>

    <p>Welcome to the ezr² Offline site!</br>This is an offline version of the ezr² website, which can be downloaded and used on a desktop or mobile device without an Internet connection. As of right now, not all features of the online website work here - if you would like to help fix these issues, contact Uralstech at info@uralstech.in! To enter the site, click on the button below.</p>

    </br>
    <center>
      <a href="site/index.html" class="btn btn-lg" style="font-size:2rem;border: 2px solid White;border-radius: 12px;padding: 7px 12px;text-decoration: none;">Enter site</a>
    </center>
    
    </br>
    </br>

    <h3>License</h3>
    <p>The content and code of the website is the copyright of URAV ADVANCED LEARNING SYSTEMS PRIVATE LIMITED, licensed under the Apache License, Version 2.0. For more specific licensing details, please check the LICENSE.txt file in the directory where ezr² is installed, in the source code or on the <a href="https://github.com/Uralstech/ezrSquared/blob/021e19ee7a136eabf00ddfb621a05d0d5bb6bc76/LICENSE.txt">ezr² GitHub page</a>. The code for generating this offline version of the site is part of the <a href="https://github.com/dohliam/jekyll-offline">jekyll-offline</a> project, and is released under an MIT license.</p>
  </body>

</html>
